astropy==5.2.2
bilby==2.0.1
corner==2.2.2
dynesty==2.1.1
gwosc==0.7.1
gwpy==3.0.4
h5py==3.8.0
jupyter==1.0.0
lalsuite==7.11
ligo.skymap==1.0.3
matplotlib==3.5.3
notebook==6.5.4
numpy==1.23.5
pandas==2.0.1
pip==23.1.1
pycbc==2.0.5
pygcn==1.0.2
scipy==1.8.1
